//  VARIABLES  //

$blur: 32px;
$break-small: 450px;
$break-medium: 750px;
$font: 'Lato', sans-serif;
$font-alt: 'Raleway', sans-serif;
$glass-opacity: 0.25;
$highlight-opacity: 0.35;

$primary-color-light: #ffffff;
$secondary-color-light: #1a1a1a;
$font-color-light: #000000;
$background-color-light: #ffffff;

$primary-color-dark: #000000;
$secondary-color-dark: #e6e6e6;
$font-color-dark: #ffffff;
$background-color-dark: #000000;